<div id="flash_messages">
  <% flash.each do |key, value| %>
    <%= content_tag(:div, value, :class => "flash #{key}") %>
  <% end %>
</div>
<div id="error_messages">
  <% if @errors %>
    <% @errors.each do |error| %>
      <%= content_tag(:div, error, :class => "error-message") %>
    <% end %>
  <% end %>
</div>